/*
* @Author: Rosen
* @Date:   2018-01-23 19:54:57
* @Last Modified by:   Rosen
* @Last Modified time: 2018-01-26 13:34:57
*/
.color-box{
    display: block;
    height: 160px;
    text-align: center;
    padding: 20px 0;
    opacity: .9;
    transition: all .3s;
    &:hover{
        text-decoration: none;
        color: #555;
        opacity: 1;
        transform: scale(1.08);
    }
    &:focus{
        text-decoration: none;
    }
    .count{
        font-size: 50px;
        height: 80px;
        line-height: 80px;
    }
    .desc{
        font-size: 18px;
        .fa{
            margin-right: 5px;
        }
    }
}

.box-wrapper{
    width: 100%;
    height: 800px;
    border:1px solid #333;
    padding:5px;
    background: #eaeaea;
    box-sizing: border-box;
}
.box-wrapper::after{
    content: '';
    display: block;
    width:0px;
    height: 0px;
    clear:both;
}
.box-drag{
    cursor: move;
    box-sizing: border-box;
    padding: 3px 3px 0 0;
    position: absolute;
}
.box-drag > div{
    width: 100%;
    height: 100%;
    background: #2EA7EB;
    border-radius: 5px;
    position: relative;

    .chk{
        position: absolute;
        left:0;
        top:0;
        z-index: 99;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .del{
        position: absolute;
        right:0;
        top:0;
        z-index: 99;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}
.box-drag.selected > div{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #2EA7EB;
    border-radius: 5px;
    border:5px solid #ffb53e;
}
